.banner{
  background-image: url('../../../assets/banner/bannerBg.jpg');
  background-size: cover;
}

.banner:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #151515be;
  border-radius: 12px;
}